.product-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 1.5rem; 
  padding: 2rem;
  justify-items: center;
}

.product-card {
  border-radius: 12px;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 180px; 
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
   object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 180px;
 
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}


.product-card {
  background: #fff;
  border-radius: 18px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}


.product-card:hover {
  transform: translateY(-5px);
}

@media (max-width: 1200px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 900px) {
  .product-container {
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (max-width: 600px) {
  .product-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-card img {
    height: 160px;
  }
}


@media (max-width: 400px) {
  .product-container {
    grid-template-columns: repeat(3, 2fr);
  }

  .product-card {
    max-width: 90%;
    margin: 0 auto;
  }
}
