.product-container {
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* grid-template-columns: repeat(6, 1fr); */
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
  justify-content: center;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 160px;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
